@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome To The Report Web Application</h2>

<h4>In this Application you can:</h4>
<ul>
    <li>
        Watch the statistics of how many hours where spent per Project/ Task.
        
    </li>
    <li>
        Update clients Information.
    </li>
    <li>
        Update Client's projects information or create new Projects for the client.
    </li>
    <li>
        Update Project's tasks Information or create new Tasks for the project.
    </li>
    <li>
        Update/ Delete/ Watch/ Create reports of work time on tasks.
    </li>
</ul>